nav {
    background-color: black;
    color: white;
}

.input-field>label {
    font-size: 1.5rem;
    font-weight: bold;
}

.material-icons {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

